HOST_NAME=example.com
MINIO_HOST_NAME=minio.example.com
SECRET_KEY=key_example
CERTIFICATE_PASSWORD=cert_password_example
CLIEND_ID=client_id
CLIENT_SECRET=secret
YANDEX_API_KEY=yandex_key
YOO_KASSA_BASE_URL=yookassa_url
YOO_KASSA_PAYMENTS_SECRET_KEY=yookassa_secret_key
YOO_KASSA_PAYMENTS_APP_ID=yookassa_id
YOO_KASSA_PAYOUTS_SECRET_KEY=yookassa_payouts_key
YOO_KASSA_PAYOUTS_APP_ID=yookassa_payouts_id
SMS_API_SETTINGS_LOGIN=sms_login
SMS_API_SETTINGS_PASSWORD=sms_password
SMS_API_SETTINGS_BASE_URL=sms_url
CONNECTION_STRING=postgre_con_string
NGINX_CERTIFICATE_FOLDER=certificate_folder
GOOGLE_APPLICATION_CREDENTIALS=credentials_example
