<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.choice">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
    <application android:label="Choice.Android" android:theme="@style/MainTheme" android:usesCleartextTraffic="true">
      <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBMX38i9wNYIqN-4ULRFztVTrt1Qos_z6I" />
      <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
      <uses-library android:name="org.apache.http.legacy" android:required="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>
